body {
    text-align: center;
}

td {
    background-color: darkgray;
    border: 3px ridge rgb(65, 65, 65);
    width: 30px;
    height: 30px;
    text-align: center;
}

table {
    border: 3px darkgray ;
    margin: auto;
}

.img-button,
.hintImg{
    width: 37px;
    height: 37px;
}

.smiley,
.hintImg {
    background-color: transparent;
}

img {
    cursor: pointer;
}

